*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 315px;
}
.board > div {
  height: 100px;
  width: 100px;
  background-color: green;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
